@model IEnumerable<Eshop_11_4.Models.ProductType>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h1>Product Types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show)
            </th>            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show)
            </td>            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductTypeId">Delete</a> |
                <a asp-action="ViewAll" asp-route-id="@item.ProductTypeId">ViewAll</a>
            </td>
        </tr>
}
    </tbody>
</table>
